<h3>Name: <%=@user.name%></h3>
<h3>Alias: <%=@user.alias%></h3>
<h3>Email: <%=@user.email%></h3>
<div class="w3-border-top">
	<h4>Total Number of Posts: <%=@posts.count%></h4>
	<h4>Total Number of Likes: <%=@likes.count%></h4>
</div>